.gradle/

/classes/
/**/build/

# IntelliJ files
/**/.idea/

# Eclipse files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.recommenders

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

/**/.ilias-downloader.yml

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity
