<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%-5level} [%t] %c{1.} - %msg%n"/>
            <Filters>
                <!-- deny warn, error, fatal -->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Console>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%-5level} [%t] %c{1.} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT"/>
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.github.thetric.iliasdownloader.ui" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="STDERR"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="STDERR"/>
        </Root>
    </Loggers>
</Configuration>
